<% include layout/head %>

<% include layout/header %>

<% include layout/nav %>

<% include layout/thanh_trang_thai %>
<div class="checkout">

  <p align="center" style="color:#F00; font-size:24px; font-weight:bold">404: Không tìm thấy trang bạn yêu cầu</p>
 </div>
 <% include layout/footer %>
