<% include ../layout/head %>

<% include ../layout/header %>

<% include ../layout/nav %>

<% include ../layout/thanh_trang_thai %>
<div class="container">
  <button type="button" class="btn btn-info btn-lg" name="button" onclick="window.location='/users/doi-mat-khau'">Đổi mật khẩu</button>
  <button type="button" class="btn btn-info btn-lg disabled" name="button">Thông tin cá nhân</button>
  <button type="button" class="btn btn-info btn-lg" name="button" onclick="window.location='/users/don-hang'">Thông tin đơn hàng</button>
</div>
<div class="register">
  <div class="container">
    <div class="login-form-grids">
      <h5>Thông tin cá nhân</h5>
      <form  method="post">
        <input type="text" name="ten_khach_hang" id="dang_ky_ten_khach_hang" placeholder="Họ tên..." required >
        <input type="text" name="dia_chi" id="dang_ky_dia_chi" placeholder="Địa chỉ..." required >
        <input type="text" name="dien_thoai" id="dang_ky_dien_thoai" placeholder="Điện thoại..." required >
      <h6>Thông tin đăng nhập</h6>
        <input style="margin-bottom:15px" type="text" name="ten_dang_nhap" id="dang_ky_ten_dang_nhap" placeholder="Tên đăng nhập" readonly >
        <input type="email" name="email" id="dang_ky_email" placeholder="Địa chỉ Email" readonly >
        <input type="submit" name="btn_dang_ky" value="Cập nhật" onclick="return kiem_tra_thong_tin_dang_ky()">
      </form>
    </div>

  </div>
</div>
 <% include ../layout/footer %>
