<!-- //footer -->
<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Liên hệ</h3>

					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>140 Lê Trọng Tấn, P. Tây Thạnh, <span>Q. Tân Phú, Tp. HCM</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@hufi.edu.vn</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(08)38163319</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Thông tin</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/gioithieu">Giới thiệu</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/lienhe">Liên hệ</a></li>

					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Danh mục</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/tivi">Tivi</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/dienthoai">Điện Thoại</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/laptop">Laptop</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.066626251177!2d106.62639741533431!3d10.806209161596852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQYcyjaSBIb8yjYyBDw7RuZyBuZ2hp4buHcCBUaOG7sWMgcGjhuqltIFRwLiBIQ00!5e0!3m2!1svi!2sus!4v1541651413451" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="footer-copy">
			<div class="container">
				<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>

	</div>

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<!-- thêm giỏ hàng -->
<script>
      $(".button").click(function(){
							if($(this).val()=="thêm vào giỏ")
							{
								$(this).css({"background-color":"#9C3"})
								$(this).val("✔ đã thêm")
								$this=$(this)
								setTimeout(function(){
									$this.val("thêm vào giỏ")
									$this.css({"background-color":"#3399cc"});
									},1000)

								var $key=$(this).attr("id");
								var $don_gia=$(this).attr("don_gia");
								var form_data = {
									"ma_san_pham":$key,
									"don_gia":$don_gia
									}
								$.ajax(
								{
									url: "mua_hang.php",
									data:form_data,
									type:"POST",

								})

								$.ajax(
								{
									url: "cap_nhat_gio_hang.php",
									success: function(data)
											{
												$("#so_san_pham").html(data)
											}

								})



							}
						});


		function xoa_gio_hang()
		{
			if(confirm("Xác nhận xoá giỏ hàng"))
			{
				location='xoa_hang.php';
			}
		}

		function kiem_tra_thong_tin()
		{
			var ten_khach_hang=document.getElementById("ten_khach_hang")
			var email=document.getElementById("email")
			var dia_chi=document.getElementById("dia_chi")
			var dien_thoai=document.getElementById("dien_thoai")
			if(ten_khach_hang.value.trim()=="")
			{
				alert("Vui lòng nhập tên khách hàng")
				ten_khach_hang.focus()
				return false
			}
			if(email.value.trim()=="")
			{
				alert("Vui lòng nhập email")
				email.focus()
				return false
			}
			if(dia_chi.value.trim()=="")
			{
				alert("Vui lòng nhập địa chỉ")
				dia_chi.focus()
				return false
			}
			if(dien_thoai.value.trim()=="")
			{
				alert("Vui lòng nhập số điện thoại")
				dien_thoai.focus()
				return false
			}

			return true
		}


		function kiem_tra_tim_kiem()
		{
			var tim_kiem=document.getElementById("keyword")
			if(tim_kiem.value.trim()=="")
			{
				alert("Vui lòng nhập từ khoá tìm kiếm")
				ten_khach_hang.focus()
			}
			else
			{
				window.location='/tim-kiem/'+tim_kiem.value.trim()
			}
		}

		function kiem_tra_binh_luan()
		{
			var ten_kh=document.getElementById("bl_ten_kh")
			var email=document.getElementById("bl_email")
			var dien_thoai=document.getElementById("bl_dien_thoai")

			if(ten_kh.value.trim()=="")
			{
				alert("Vui lòng nhập họ tên")
				ten_kh.focus()
				return false
			}

			if(dien_thoai.value.trim()=="")
			{
				alert("Vui lòng nhập số diện thoại")
				dien_thoai.focus()
				return false
			}
			if(isNaN(dien_thoai.value) || (dien_thoai.value.length)>11)
			{
				alert("Số điện thoại không hợp lệ")
				dien_thoai.focus()
				return false
			}
			if(email.value.trim()=="")
			{
				alert("Vui lòng nhập email")
				email.focus()
				return false
			}


			return true
		}

		function kiem_tra_thong_tin_dang_ky()
		{
			var ten_khach_hang=document.getElementById("dang_ky_ten_khach_hang")
			var dia_chi=document.getElementById("dang_ky_dia_chi")
			var dien_thoai=document.getElementById("dang_ky_dien_thoai")
			var ten_dang_nhap=document.getElementById("dang_ky_ten_dang_nhap")
			var email=document.getElementById("dang_ky_email")
			var mat_khau=document.getElementById("dang_ky_mat_khau")
			var nhap_lai_mat_khau=document.getElementById("dang_ky_nhap_lai_mat_khau")

			if(ten_khach_hang.value.trim()=="")
			{
				alert("Vui lòng nhập họ tên")
				ten_khach_hang.focus()
				return false
			}

			if(dia_chi.value.trim()=="")
			{
				alert("Vui lòng nhập địa chỉ")
				dia_chi.focus()
				return false
			}

			if(dien_thoai.value.trim()=="")
			{
				alert("Vui lòng nhập số diện thoại")
				dien_thoai.focus()
				return false
			}

			if(isNaN(dien_thoai.value) || (dien_thoai.value.length)>11)
			{
				alert("Số điện thoại không hợp lệ")
				dien_thoai.focus()
				return false
			}

			if(ten_dang_nhap.value.trim()=="")
			{
				alert("Vui lòng nhập tên đăng nhập")
				ten_dang_nhap.focus()
				return false
			}

			if(email.value.trim()=="")
			{
				alert("Vui lòng nhập email")
				email.focus()
				return false
			}

			if(mat_khau.value.trim()=="")
			{
				alert("Vui lòng nhập mật khẩu")
				mat_khau.focus()
				return false
			}

			if(nhap_lai_mat_khau.value.trim()!=mat_khau.value.trim())
			{
				alert("Mật khẩu không trùng khớp")
				nhap_lai_mat_khau.focus()
				return false
			}

			return true
		}

		function kiem_tra_thong_tin_dang_nhap()
		{
			var ten_dang_nhap=document.getElementById("dang_nhap_ten_dang_nhap")
			var mat_khau=document.getElementById("dang_nhap_mat_khau")
			if(ten_dang_nhap.value.trim()=="")
			{
				alert("Vui lòng nhập tên đăng nhập")
				ten_dang_nhap.focus()
				return false
			}
			if(mat_khau.value.trim()=="")
			{
				alert("Vui lòng nhập mật khẩu")
				mat_khau.focus()
				return false
			}

			return true
		}

		function chi_tiet_san_pham(ma_san_pham,ten_san_pham)
		{
			window.location='ten_san_pham.php?ma_san_pham='+ma_san_pham+'&ten_san_pham='+ten_san_pham
		}



</script>
                 <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'b535038f-ff99-44bd-b14b-5ad388509e17', f: true }); done = true; } }; })();</script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'

	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});

			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});

		});
</script>
<!-- //main slider-banner -->
</body>
</html>
